<mat-toolbar class="toolbar-gradient">
  <div class="toolbar-left">
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      matTooltip="Menu"
      aria-label="Menu"
    >
      <mat-icon fontIcon="menu"></mat-icon>
    </button>

    <span class="data-hora">
      {{ dataHoraFormatada }}
    </span>
  </div>

  <div class="toolbar-center">
    <span class="titulo-toolbar">Sistema de Gestão Escolar</span>
  </div>

  <div class="toolbar-right" *ngIf="authState.usuario$ | async as usuario">
    <mat-icon fontIcon="person"></mat-icon>
    <span class="usuario-logado-text">{{ usuario.nome }}</span>
  </div>
</mat-toolbar>

<mat-divider></mat-divider>

<mat-menu #menu="matMenu" panelClass="custom-colored-menu">

 <button mat-menu-item (click)="irHome()">
    <mat-icon fontIcon="home"></mat-icon>
    <span class="item-menu">Home</span>
  </button>

  <mat-divider></mat-divider>

  <button mat-menu-item *ngFor="let item of businessMenuItems" (click)="navegarMenuItem(item)">
    <mat-icon [fontIcon]="item.icon"></mat-icon>
    <span class="item-menu">{{ item.label }}</span>
  </button>

  <ng-container *ngIf="showAccessMenu">
    <button mat-menu-item [matMenuTriggerFor]="accessMenu">
      <mat-icon fontIcon="admin_panel_settings"></mat-icon>
      <span class="item-menu">Acesso</span>
    </button>

    <mat-menu #accessMenu="matMenu">
      <button mat-menu-item *ngFor="let item of accessMenuItems" (click)="navegarMenuItem(item)">
        <mat-icon [fontIcon]="item.icon"></mat-icon>
        <span class="item-menu">{{ item.label }}</span>
      </button>
    </mat-menu>
  </ng-container>

  <mat-divider></mat-divider>

  <button mat-menu-item (click)="sair()">
    <mat-icon fontIcon="logout"></mat-icon>
    <span class="item-menu">Sair</span>
  </button>
</mat-menu>

<div class="content-container">
  <router-outlet></router-outlet>
</div>
