<div class="page-container">
  <mat-card class="student-card"
    ><mat-card-header
      ><mat-card-title>{{
        id() ? 'Editar Perfil' : 'Novo Perfil'
      }}</mat-card-title></mat-card-header
    ><mat-card-content
      ><form class="student-form" [formGroup]="form" (ngSubmit)="salvar()">
        <mat-form-field appearance="outline"
          ><mat-label>Nome</mat-label
          ><input matInput formControlName="nome" placeholder="Nome do perfil" /></mat-form-field
        ><mat-form-field appearance="outline"
          ><mat-label>Código</mat-label
          ><input
            matInput
            formControlName="codigo"
            placeholder="Código do perfil" /></mat-form-field
        ><mat-form-field appearance="outline"
          ><mat-label>Descrição</mat-label
          ><input matInput formControlName="descricao" /></mat-form-field
        ><mat-form-field appearance="outline"
          ><mat-label>Permissões</mat-label
          ><mat-select formControlName="permissaoIds" multiple
            ><mat-option *ngFor="let p of permissions" [value]="p.id">{{
              p.codigo
            }}</mat-option></mat-select
          ></mat-form-field
        >
        <div class="actions">
          <button mat-raised-button color="primary" type="submit">
            <mat-icon>check_circle</mat-icon>Salvar</button
          ><button mat-button type="button" (click)="onCancel()">
            <mat-icon>cancel</mat-icon>Cancelar
          </button>
        </div>
      </form></mat-card-content
    ></mat-card
  >
</div>
