<section class="dialog-shell" [class]="'tone-' + tone">
  <div class="dialog-heading">
    <span class="icon-frame">
      <mat-icon [fontIcon]="icon"></mat-icon>
    </span>
    <div>
      <h2 mat-dialog-title>{{ data.title }}</h2>
      <p>{{ data.message }}</p>
    </div>
  </div>

  <mat-dialog-content>
    <ul *ngIf="data.details?.length" class="detail-list">
      <li *ngFor="let detail of data.details">{{ detail }}</li>
    </ul>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button *ngIf="data.cancelLabel" mat-stroked-button type="button" (click)="cancel()">
      {{ data.cancelLabel }}
    </button>
    <button mat-raised-button color="primary" type="button" (click)="confirm()">
      <mat-icon fontIcon="check"></mat-icon>
      {{ confirmLabel }}
    </button>
  </mat-dialog-actions>
</section>
