<h2 mat-dialog-title>{{ data ? 'Editar Permissão' : 'Nova Permissão' }}</h2>
<mat-dialog-content>
  <form [formGroup]="form" class="form-grid">
    <mat-form-field appearance="outline">
      <mat-label>Código</mat-label>
      <input matInput formControlName="codigo" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Descrição</mat-label>
      <input matInput formControlName="descricao" />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="primary" (click)="submit()">Salvar</button>
</mat-dialog-actions>
