<mat-card *ngIf="usuario">
  <mat-card-content>
    <h1>{{ usuario.nome }}</h1>
    <p><b>Username:</b> {{ usuario.username }}</p>
    <p><b>Email:</b> {{ usuario.email }}</p>
    <p><b>Ativo:</b> {{ usuario.ativo ? 'Sim' : 'Não' }}</p>

    <div>
      <b>Perfis:</b>
      <ul *ngIf="profileNames.length; else semPerfis">
        <li *ngFor="let profile of profileNames">{{ profile }}</li>
      </ul>
      <ng-template #semPerfis>Nenhum perfil vinculado.</ng-template>
    </div>

    <button mat-button (click)="voltar()">Voltar</button>
  </mat-card-content>
</mat-card>
