<mat-card *ngIf="perfil">
  <mat-card-content>
    <h1>{{ perfil.nome }}</h1>
    <p><b>Código:</b> {{ perfil.codigo }}</p>
    <p><b>Descrição:</b> {{ perfil.descricao }}</p>

    <div>
      <b>Permissões:</b>
      <ul *ngIf="permissionNames.length; else semPermissoes">
        <li *ngFor="let permission of permissionNames">{{ permission }}</li>
      </ul>
      <ng-template #semPermissoes>Nenhuma permissão vinculada.</ng-template>
    </div>

    <button mat-button (click)="voltar()">Voltar</button>
  </mat-card-content>
</mat-card>
