<div class="page-container">
  <mat-card class="student-card"
    ><mat-card-header><mat-card-title>Permissões</mat-card-title></mat-card-header
    ><mat-card-content
      ><div class="actions">
        <button mat-raised-button color="primary" (click)="novo()">
          <mat-icon fontIcon="add"></mat-icon>Nova permissão
        </button>
      </div>
      <div class="list">
        <div class="item" *ngFor="let p of permissoes">
          <div>
            <strong>{{ p.codigo }}</strong>
            <p>{{ p.descricao }}</p>
          </div>
          <div>
            <button mat-button (click)="detalhe(p.id)">Consultar</button
            ><button mat-button (click)="editar(p.id)">Editar</button
            ><button mat-button color="warn" (click)="excluir(p.id)">Excluir</button>
          </div>
        </div>
      </div></mat-card-content
    ></mat-card
  >
</div>
